<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.google.com">
                        IAPEX Web
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com">
                       Contacto
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, desarrollado por <a href="https://www.google.com">IAPEX Team</a>
        </div>
    </div>
</footer>
